
body{
    font-family: 'Segoe UI', sans-serif;
    margin:0;
    color:#fff;
}
.login-bg,.catalog-bg{
    background: radial-gradient(circle at top, #3b0066, #120017);
    min-height:100vh;
}

/* Animación */
.animate-fade{
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

/* Login */
.login-card{
    width:320px;
    margin:120px auto;
    padding:30px;
    background:rgba(40,0,70,0.4);
    backdrop-filter: blur(5px);
    border-radius:16px;
    box-shadow:0 0 25px #8500ff;
    text-align:center;
}
.logo{
    font-size:42px;
    color:#0ff;
    text-shadow:0 0 12px #0ff;
}
input{
    width:90%;
    padding:12px;
    margin:12px 0;
    background:#1a0030;
    border:1px solid #8a2be2;
    color:white;
    border-radius:8px;
}
button{
    width:95%;
    padding:14px;
    background:#8a2be2;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:8px;
    font-size:16px;
    transition:0.2s;
}
button:hover{
    background:#c957ff;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:rgba(30,0,50,0.6);
    backdrop-filter: blur(6px);
    box-shadow:0 0 12px #5a00b8;
}
#search{
    width:220px;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#21003d;
    color:white;
}
.logout-btn{
    padding:10px 18px;
    border-radius:8px;
}

/* Catálogo */
.grid{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fill, 200px);
    gap:25px;
}
.card{
    background:#240045;
    padding:12px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 14px #550088;
    transition:0.25s;
}
.card:hover{
    transform:scale(1.06);
    box-shadow:0 0 25px #b300ff;
}
.card img{
    width:100%;
    border-radius:10px;
}
